html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0;
}


/* header */

.header-wraper {
    height: 540px;
    background-image: url(../img/Background_photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 72px;
    box-shadow:0 0 0 700px rgba(0, 0, 0, .15) inset;
}

.main-header {
    min-height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.menu-header {
    min-height: 190px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.login-menu {
    display: flex;
    width: 180px;
    height: 40px;
    justify-content: space-between;
    list-style-type: none;
}

.login-menu button {
    width: 90px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: none;
    background-color: transparent;
}

.login-menu button:hover,
.login-menu button:focus {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.text-wraper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    min-height: 180px;
}

.header-title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.header-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: rgb(255, 255, 255);
}

.search-button {
    width: 280px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    color: rgb(255, 255, 255);
}

/* main section */

.section-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.partners-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 220px;
    margin: 18px auto 28px auto;
    text-decoration: none;
    list-style: none;
}

.img-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 18px auto 18px auto;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.tv-icon {
    background-color: rgb(255, 0, 0);
    background-image: url("../img/TV-icon.png");
}

.glass-icon {
    background-color: rgb(255, 165, 7);
    background-image: url("../img/Glass-icon.png");
}

.cup-icon {
    background-color: rgb(28, 215, 173);
    background-image: url("../img/Cup-icon.png");
}

.telegram-icon {
    background-color: rgb(78, 115, 219);
    background-image: url("../img/Telegram-icon.png");
}

.partner-item a {
    text-align: center;
    text-decoration: none;
}

.partner-name {
    margin-bottom: 18px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.partner-info {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgb(167, 167, 167);
}

.search-button-bottom {
    display: block;
    margin: 0 auto 60px auto;
    width: 280px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    border: 2px solid rgb(255, 78, 80);
    color: rgb(255, 78, 80);
    background-color: transparent;
}



/* media */

@media (min-width: 320px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .login-menu {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
     }

    .menu-header {
        flex-flow: row-reverse;
        width: 660px;
        justify-content: space-between;
        padding-top: 30px;
    }

    .main-header {
        min-height: 480px;
    }

    .header-wraper {
        height: 700px;
    }

    .logo {
        padding-top: 15px;
    }

    .text-wraper {
        width: 500px;
        min-height: 240px;
    }

    .header-title {
        font-size: 50px;
    }

    .header-text {
        font-size: 24px;
    }

    .search-button {
        width: 228px;
    }

    .partners-list {
        flex-flow: row wrap;
        max-width: 492px;
        justify-content: space-between;
    }

    .partner-item {
        width: 220px;
    }

    .search-button-bottom {
        width: 194px;
    }

    .order-2 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }
}

@media (min-width: 769px) and (max-width: 1439px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 100%;
    }

    .menu-header {
        min-width: 940px;
    }

    .login-menu button {
        cursor: pointer;
    }

    .partners-list {
       flex-flow: row wrap;
       max-width: 942px;
    }

    .search-button,
    .search-button-bottom,
    .social-icon {
        cursor: pointer;
    }
}
